.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
    position: relative;
}

.box{
    width: 160px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 220px;
}

.innerbox1{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 10px;
}

.innerbox2{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 60px;
}
.innerbox3{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*
.main{

}
*/
.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
    position: relative;
}
/*
.inner1{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid;
    border-color: white;
    margin-left: 40px;
    margin-top: 40px;
}
*/
.inner2{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid;
    border-color: white;
    margin-left: 40px;
    margin-top:40px;

}
*/
/*
.inner3{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid;
    border-color: white;
    margin-left: 40px;
    margin-bottom: 40px;
}
*/
.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
/*
.test{
    width: 200px;
    height: 200px;
    background-color:violet;
}

.testbox{
    width: 100px;
    height: 100px;
    background-color: aqua;
    padding-left: 20px;
    padding-bottom: 50px;
}