body {
    width: 1000px ;
}

table{
    border-collapse:collapse;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
} 

/*
.header {}
*/

.left {
    height: 120px;
    width: 200px;
    background-color: #add8e6;
    margin: 0 auto;
    float: left;
}

/*
.right {}
*/
.above {
    height: 60px;
    width: 800px;
    background-color: #87ceeb;
    text-align:right;
    float: left;
}

.under {
    height: 60px;
    width: 800px;
    background-color: #00ffff;
    text-align:right;
    float: left;
}

table {
    margin: 10px auto;
}


.up {
    height: 30px;
    width: 700px;
    background-color: #87ceeb;
}

.down {
    height: 150px;
    width: 700px;
    background-color: #e0ffff;
}

.footer {
    height: 50px;
    width: 1000px;
    background-color: #00ced1;
    margin: 0 auto;
}

