.clearfix:after {
    content: "";
    display: block;
    clear: both;
} 

/*
.header {}
*/

.left {
    height: 120px;
    width: 200px;
    background-color: #add8e6;
    float: left;
}

/*
.right {}
*/
.above {
    height: 60px;
    width: 800px;
    background-color: #87ceeb;
    float: left;
    text-align:right;
}

.under {
    height: 60px;
    width: 800px;
    background-color: #00ffff;
    float: left;
    text-align:right;
}

/*
.main {}
*/

.up {
    height: 30px;
    width: 700px;
    background-color: #87ceeb;
    float: left;
}

.down {
    height: 150px;
    width: 700px;
    background-color: #e0ffff;
    float: left;
}

.footer {
    height: 50px;
    width: 1000px;
    background-color: #00ced1;
}

