@media screen and (min-width: 767px){  
    .header{
        width: 300px;
    }  
    .left{
        width: 100px;
    }
    .left2{
        width: 125px;
    }
    .right2{
        width: 75px;
    }
    .another{
        width: 200px;
    }
    .footer{
        width: 300px;
    }
}

@media screen and (max-width: 767px){
    .header{
        width: 300px;
    }  
    .left{
        width: 100px;
    }
    .left2{
        width: 125px;
    }
    .right2{
        width: 75px;
    }
    .another{
        width: 200px;
    }
    .footer{
        width: 300px;
    }
}

@media screen and (max-width: 479px){
    .header{
        width: 150px;
        height: 100px;
    }
    .main left{
        width: 150px;
        height: 100px;
        float: none;
    }
    .main right{
        float: none;
    }
    .above left2{
        float: none;
    }
    .up{
        width: 150px;
    }
    .down{
        width: 150px;
        height: 100px;
    }
    .above right2{
        height: 100px;
        float: none;
    }
    .another{
        width: 150px;
        height: 100px;
    }
    .footer{
        width: 150px;
        height: 100px;
    }


}