.target{
    color:blue;
}

h1{
    background-color:pink;
}
.container{
    display: flex;
    justify-content: space-between;
}

.item1{
    width: 100px;
    height: 100px;
    background-color:red;
}
.item2{
    width:100px;
    height:100px ;
    background-color: blue;

}
.item3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

